<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form style="margin: 20px;" action="admin/edit?id={{id}}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id">
        <label for="title">Title :</label>
        <input type="text" name="title" id="h1">
        <label for="sub-title">Sub-title :</label>
        <input type="text" name="sub-title" id="title">
        <label for="image">Image :</label>
        <input type="file" name="image" id="sub-title">
        <label for="text">Text :</label>
        <input type="text" name="text" id="text">
        <label for="signature">Signature :</label>
        <input type="text" name="signature" id="signature">
        <label for="logo">Logo :</label>
        <input type="file" name="logo" id="logo">
    
        <input class="btn btn-primary" type="submit" value="Add page">
    </form>
</body>
</html>