{% extends "./header.html" %}
{% block content %}

    <a href="/admin/add" class="btn btn-dark"style="margin-left: 20px;"> Add a new article</a>
    <div class="container" style="display: flex;">
    {% for p in article %}
    <div class="card" style="width: 18rem;margin: 20px;">
        <img class="card-img-top" src="/uploads/{{p.image}}.jpg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <h5 class="card-sub-title">{{p.subtitle}}</h5>
          <p>{{p.createdAt}}</p>
          <p class="card-text">{{p.text}}</p>
          <a class="btn btn-secondary" href="/admin/edit/{{p.id}}">Edit</a>
          <a class="btn btn-secondary" href="/admin/delete/{{p.id}}">Supprimer</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}

