.top100 {
  margin-top: 60px;
  &__title {
    font-family: 'Harriet Display';
    font-weight: 600;
    font-size: 40px;
  }
  &__btns {
    display: flex;
    margin-top: 40px;
    &__links {
      text-decoration: none;
      color: #000;
    }
    &__item {
      display: flex;
      align-items: center;
      border: solid 1px rgba(155, 155, 155, 0.19);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
      width: 300px;
      height: 55px;
      border-radius: 2px;
      transition: ease 0.2s all;
      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
      }
      &__pictureContainer {
        width: 25%;
        height: 100%;
      }
      &__picture {
        width: 100%;
        height: 100%;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        object-fit: cover;
      }
      &__title {
        font-size: 20px;
        font-weight: 800;
        margin-left: 20px;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  &__filters {
    width: 100%;
    &__cat {
      &__title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      &__options {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 40px;
        &__checkbox {
          margin-bottom: 10px;
        }
      }
    }
  }
  &__results {
    width: 100%;
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &__imgContainer {
        width: 50%;
      }
      &__img {
        width: 100%;
        object-fit: contain;
      }
      &__infos {
        margin-left: 20px;
        &__top {
          display: flex;
          justify-content: space-between;
        }
        &__title {
          font-weight: 700;
          font-size: 18px;
        }
        &__mark {
          font-family: 'Harriet Display';
          font-weight: 600;
          font-size: 20px;
        }
        &__price {
          margin-top: 8px;
          font-weight: 600;
          font-size: 14px;
          &__blue {
            color: $blue;
          }
        }
        &__address {
          font-size: 14px;
          font-weight: 300;
          margin: 10px 0;
        }
        &__description {
          font-size: 14px;
          font-weight: 400;
          width: 90%;
        }
      }
    }
  }
}
