.header {
  font-family: "Harriet Display";
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  &__title {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
  }
  &__nav {
    margin-top: 40px;
    font-size: 16px;
    &__list {
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto;
      &__item {
        &__link {
          text-decoration: none;
          color: #000;
          font-weight: 200;
          margin:0 40px;
          padding-bottom: 10px;
          transition: ease 0.05s border-bottom;
          &:hover {
            border-bottom: 1px solid $blue;
          }
          .--active {
            border-bottom: 1px solid $blue;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.active {
  border-bottom: 1px solid $blue;
  text-decoration: none;
}

