.cover {
  width: 100%;
  margin: 40px auto;
  align-items: center;
  @include responsive(mobile) {
    margin-top: 70px;
  }
  &__container {
    display: flex;
    @include responsive(mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__img {
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    @include responsive(tablet) {
      //width: 270px;
      //height: 400px;
    }
    @include responsive(mobile) {
      //width: 200px;
      //height: 300px;
    }
  }
  &__text {
    @include responsive(desktop) {
      margin: 120px 0 0 50px;
    }
    @include responsive(tablet) {
      margin: 80px 0 0 70px;
    }
    @include responsive(mobile) {
      margin: 30px 0 0 0;
    }
    &__title {
      font-size: 40px;
      line-height: 50px;
      font-family: 'Harriet Display';
      font-weight: 700;
      text-align: left;
      @include responsive(desktop-large) {
        font-size: 30px;
      }
      @include responsive(tablet) {
        font-size: 24px;
      }
      @include responsive(mobile) {
        font-size: 18px;
        line-height: 50px;
      }
    }
    &__CTA {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      background: $blue;
      padding: 10px 15px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      margin-top: 50px;
      @include responsive(mobile) {
        font-size: 12px;
        margin-top: 30px;
      }
    }
  }
}

.mook {
  margin-top: 200px;
  text-align: center;
  @include responsive(mobile) {
    margin-top: 150px;
  }
  &__title {
    font-family: 'Harriet Display';
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    width: 50%;
    margin: 0 auto;
    @include responsive(desktop-large) {
      font-size: 30px;
    }
    @include responsive(mobile) {
      font-size: 18px;
    }
  }
  &__subTitle {
    font-family: 'Harriet Display';
    font-weight: 200;
    font-size: 16px;
    color: #4A4A4A;
    margin: 30px auto;
    width: 60%;
    text-align: center;
    line-height: 22px;
    @include responsive(mobile) {
      font-size: 10px;
    }
  }
  &__textContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-gap: 70px;
    margin: 60px;
    @include responsive(tablet) {
      grid-template-columns: repeat(2,1fr);
    }
    @include responsive(mobile) {
      grid-template-columns: repeat(1,1fr);
    }
  }
  &__textItem {
    font-size: 16px;
    margin-top: 10px;
    line-height: 22px;
    text-align: left;
    @include responsive(mobile) {
      font-size: 12px;
    }
  }
  &__overLine {
    width: 80px;
    height: 5px;
    background: $blue;
    margin-bottom: 18px;
  }
}

.sheets {
  margin-top: 100px;
  line-height: 22px;
  font-size: 16px;
  @include responsive(mobile){
    margin-top: 70px;
    font-size: 12px;
  }
  &__title {
    font-family: 'Harriet Display';
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 40px;
    @include responsive(tablet) {
      font-size: 30px;
    }
    @include responsive(mobile) {
      font-size: 18px;
    }
  }
  &__text {
    margin: 20px auto;
    width: 100%;
  }
}

.app {
  margin: 200px auto;
  @include responsive(mobile){
    margin-top: 100px;
  }
  &__title {
    font-family: 'Harriet Display';
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    @include responsive(desktop-large) {
      //font-size: 30px;
    }
    @include responsive(mobile) {
      font-size: 18px;
    }
  }
  &__container {
    align-items: center;
  }
  &__store {
    &__appStore {
      width: 50%;
      &__img {
        width: 100%;
        margin-bottom: 50px;
      }
    }
    &__googlePlay {
      width: 50%;
      &__img {
        width: 100%;
      }
    }
  }
  &__mockUp {
    width: 50%;
    &__img {
      width: 100%;
    }
  }
}

.numbers {
  margin-top: 100px;
  background: url('../assets/img/night-sky.jpeg')no-repeat center center;
  background-size: cover;
  width: 100%;
  color: #fff;
  &__container {
    padding: 100px 0;
    @include responsive(mobile){
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 40px;
      padding: 40px 0;
    }
  }
  &__content {
    text-align: center;
    &__stats {
      font-weight: 900;
      font-size: 30px;
      @include responsive(mobile) {
        font-size: 15px;
      }
    }
    &__text {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      margin-top: 30px;
      @include responsive(desktop) {
        font-size: 15px;
      }
      @include responsive(tablet) {
        font-size: 12px;
      }
      @include responsive(mobile) {
        font-size: 10px;
        margin-top: 10px;
      }
    }
  }
}

.team {
  margin: 200px 0;
  @include responsive(mobile) {
    margin: 100px 0;
  }
  &__title {
    font-family: 'Harriet Display';
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    @include responsive(desktop-large) {
      font-size: 30px;
    }
    @include responsive(mobile) {
      font-size: 18px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    @include responsive(tablet) {
      margin: 100px 20px;
    }
    @include responsive(mobile) {
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
      grid-gap: 40px;
    }
  }
  &__cards {
    border: 1px solid #979797;
    width: 260px;
    height: 360px;
    border-radius: 2px;
    @include responsive(mobile) {
      width: 150px;
      height: 220px;
    }
    &__pictureContainer {
      width: 100%;
      height: 70%;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    &__picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__name {
      font-family: 'Harriet Display';
      font-weight: 600;
      font-size: 20px;
      margin-top: 20px;
      @include responsive(mobile){
        font-size: 12px;
      }
    }
    &__role {
      font-size: 14px;
      line-height: 20px;
      width: 60%;
      margin: 10px auto;
      color: #4A4A4A;
      @include responsive(mobile){
        font-size: 10px;
      }
    }
  }
}

.dot {
  font-family: 'Harriet Display';
  color: $blue;
  font-weight: 700;
  font-size: 55px;
}

.strong {
  font-weight: bold;
}
